################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServicesCeltaware.BackEnd/bin/Debug/netcoreapp2.2
/ServicesCeltaware.BackEnd/obj
/ServicesCeltaWare.DAL/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.DAL/obj
/ServicesCeltaWare.Model/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.Model/obj
/ServicesCeltaWare.Security/bin/Debug/netstandard2.0
/ServicesCeltaWare.Security/obj
/ServicesCeltaware.ServerAPI/obj
/ServicesCeltaware.ServerAPI/bin/Debug/netstandard2.2
/ServicesCeltaware.ServerAPI/Debug/netcoreapp2.2
/ServicesCeltaware.ServerAPI/Release/netcoreapp2.2\publish
/ServicesCeltaware.ServerAPI/*.p12
/ServicesCeltaWare.TaskMonitor/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.TaskMonitor/obj/Debug/netcoreapp2.2
