################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServicesCeltaware.BackEnd/bin/Debug/netcoreapp2.2
/ServicesCeltaware.BackEnd/obj
/ServicesCeltaWare.DAL/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.DAL/obj
/ServicesCeltaWare.Model/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.Model/obj
/ServicesCeltaWare.Security/bin/Debug/netstandard2.0
/ServicesCeltaWare.Security/obj
/ServicesCeltaware.ServerAPI/obj
/ServicesCeltaware.ServerAPI/bin/Debug/netstandard2.2
/ServicesCeltaware.ServerAPI/Debug/netcoreapp2.2
/ServicesCeltaware.ServerAPI/Release/netcoreapp2.2\publish
/ServicesCeltaware.ServerAPI/*.p12
/ServicesCeltaWare.TaskMonitor/bin/Debug/netcoreapp2.2
/ServicesCeltaWare.TaskMonitor/obj/Debug/netcoreapp2.2
/ServicesCeltaware.BackEnd/bin/Debug/netcoreapp3.1
/ServicesCeltaware.BackEnd/bin/Release/netcoreapp3.1
/ServicesCeltaware.ServerAPI/bin/Release/netcoreapp3.1
/ServicesCeltaware.ServerAPI/bin/Debug/netcoreapp3.1
/ServicesCeltaWare.TaskMonitor/bin/Debug/netcoreapp3.0
/ServicesCeltaWare.TaskMonitor/bin/Debug/netcoreapp3.1
/ServicesCeltaWare.TaskMonitor/bin/Release/netcoreapp2.2
/ServicesCeltaWare.TaskMonitor/bin/Release/netcoreapp3.0
/ServicesCeltaWare.TaskMonitor/obj/Debug/netcoreapp3.0
/ServicesCeltaWare.TaskMonitor/obj/publish/win-x64
/ServicesCeltaWare.TaskMonitor/obj/Release/netcoreapp2.2/win-x64
/ServicesCeltaWare.TaskMonitor/obj/Release/netcoreapp3.0
/ServicesCeltaWare.TaskService/bin/Debug/netcoreapp3.1
/ServicesCeltaWare.TaskService/bin/Release/netcoreapp3.1/publish/runtimes/win/lib/netcoreapp2.0
/ServicesCeltaWare.TaskService/bin/Release/netcoreapp3.1
/ServicesCeltaWare.TaskService/obj/Debug/netcoreapp3.1
/ServicesCeltaWare.TaskService/obj/Release/netcoreapp3.1
/ServicesCeltaWare.TaskService/obj
/ServicesCeltaWare.TasksMonitor/bin/Debug/netcoreapp3.1
/ServicesCeltaWare.TasksMonitor/bin/Release/netcoreapp3.1
/ServicesCeltaWare.TasksMonitor/obj/Debug/netcoreapp3.1
/ServicesCeltaWare.TasksMonitor/obj
/ServicesCeltaWare.TaskTeste
/ServicesCeltaWareUtilitariosInfraConsoleGoogle.json
/ServicesCeltaWare.TasksMonitor
